<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button active">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>

	<h2 class="text-center mb-7">Как получить займ в OneClickMoney на карту MasterCard</h2>
	<div class="stair">
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/11513749931.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">01</div>
			<div class="stair__text wow fadeInRight">На главной странице сайта выбрать нужную Вам сумму и кол-во дней,после нажать Отправить заявку.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image"></div>
			<div class="stair__number wow fadeIn">02</div>
			<div class="stair__text wow fadeInRight">Пройти регистрацию,заполняя все поля до шага 4.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image"></div>
			<div class="stair__number wow fadeIn">03</div>
			<div class="stair__text wow fadeInRight">На шаге 4, «Выбор Платежной системы», выберите MasterCard, введите номер Вашей карты и отправляйте заявку.</div>
		</div>
	</div>
	<div class="row justify-content-center mb-7">
		<div class="col-12 col-lg-9 wow fadeIn">
			<img class="shadow-img" src="/assets/img/how-mastercard.jpg" alt="howiw pay image">
		</div>
	</div>
</div>