img {
	max-width: 100%;
	max-height: 100%;
}

.svg-container {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

[data-whatintent='mouse'] *:focus {
	outline: none;
}

.shadow-img {
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
h1, .h1 {
	margin: 18px 0 28px;
	text-align: center;
}

h2, .h2 {
	a {
		text-decoration: underline;
	}
}

.bg-blue {
	background-color: $blue;
}

.text-lg {
	@include text-lg;
}
.note {
	font-size: 14px;
	line-height: 20px;
	p {
		margin: 0 0 21px;
	}
}

.logo {
	&__desc {
		font-size: 14px;
		color: $black;
	}
	&:hover {
		text-decoration: none;
	}
}

.main-text-about {
	@include text-lg;
	padding: 20px 40px;
	border: 1px solid $black;
}
.posts-about {
	margin-top: 54px;
	padding: 0 40px;
	&__one {
		margin-bottom: 50px;
	}
	&__last {
		margin: 90px 0;
	}
}

.news-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__inner {
		max-width: 1024px;
		margin-bottom: 1.5rem;
	}
	&__item {
		margin-bottom: 2rem;
	}
	&__button {

	}
}

.reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		margin-bottom: 2.5rem;
		font-weight: 400;
	}
	&__list {
		max-width: 1024px;
	}
}

.review-one {
	margin-bottom: 2rem;
	&__name {
		@include text-lg;
		margin-bottom: 6px;
		font-weight: bold;
	}
	&__text {

	}
}

.warning {
	display: flex;
	align-items: flex-start;
	padding: 20px 40px;
	margin-bottom: 40px;
	border: 1px solid $black;
	&:before {
		content: url('/assets/img/warning.svg');
		flex: 0 0 66px;
		margin-right: 1rem;
	}
}

.inline-list {
	@include list
}

.payment-list {
	margin: 0 -16px;
	padding: 0;
	margin-top: 2rem;
	&__item {
		padding: 0 16px;
		margin-bottom: 1rem;
	}
	&__link {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity .2s ease-in-out;
		&:hover {
			opacity: .6;
		}
	}
	&__img {
		max-height: 100%;
		max-width: 100%;
	}
	@include media-breakpoint-up (md) {
		@include list
		margin-top: 0;
		align-items: center;
	}
}

.payment {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-bottom: 60px;
	text-decoration: none;
	&__img {
		flex: 0 0 66px;
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		img {
			max-width: 60%;
		}
	}
	&__title {
		align-self: center;
		color: $black;
		text-align: center;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: currentColor;
			bottom: -6px;
			left: 0;
			opacity: 0;
			transition: all .15s linear;
		}
	}
	&:hover {
		text-decoration: none;
	}
	&:hover &__title {
		color: $blue;
		&:before {
			opacity: 1;
			bottom: -2px;
		}
	}
}

.how-to-get {
	@include make-row;
	&__item {
		@include make-col-ready;
		@include make-col(1, 2)
		@include media-breakpoint-up (lg) {
			@include make-col(1, 5)
		}
	}
}

.text {
	color: #404040;
	font-size: 16px;
}

.c-gray {
	color: #404040;
}

.c-blue {
	color: $blue;
}

.text-cons {
	// font-family: 'Consola Mono', arial;
	font-size: 14px;
	@include media-breakpoint-up (md) {
		font-size: 16px;
	}
}

.bg-gray {
	background: #f2f2f2
}

.menu-wrapper {
	background: #f2f2f2
}

.header-link {
	display: block;
	text-align: center;
	background: $black;
	color: $white;
	transition: all 0.4s ease-out;
	line-height: 66px;
	padding: 0 10px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $white;
		background-color: $blue;
	}
}

.menu {
	&__item {
		flex: 0 0 50%;
		max-width: 50%;
		z-index: 1;
		position: relative;
		ul {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			transition: all .2s ease-in-out;
			padding: 0;
			list-style: none;
			margin: 0;
			background-color: $black;
			width: 300px;
		}
		li {
			a {
				display: block;
				color: $white;
				padding: 0 10px;
				white-space: nowrap;
				transition: all 0.4s ease-out;
				line-height: 66px;
				&:hover {
					background-color: $blue;
					text-decoration: none;
				}
			}
		}
		
	}
	&__item:hover &__link {
		color: $white;
		background-color: $black;
	}
	&__item:hover ul {
		visibility: visible;
		opacity: 1;
	}
	&__link {
		// font-family: 'Consola Mono', Arial;
		display: block;
		font-size: 16px;
		color: #404040;
		padding: 10px 10px;
		&:hover {
			text-decoration: none;
			
			color: $white;
		}
	}
	@include list;
	justify-content: flex-start;
	&__item {
	}
	&__link {
		transition: all .2s ease-in-out;
	}
	@include media-breakpoint-up (md) {
		&__item {
			flex: 0 0 auto;
			max-width: none;
		}
		&__link {
			padding: 20px 10px;
		}
	}
}

.list1, .list2 {
	
	
}

.list1 {
	list-style: none;
	padding: 1rem;
	margin: 0;
	border: 1px solid #cccccc;
	&__item {
		padding-left: 1rem;
		margin-bottom: .5rem;
		font-size: 14px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			background-color: #b3b3b3;
			top: 50%;
			transform:translateY(-50%);
			left: 0;
			width: 5px;
			height: 6px;
		}
	}
	@include media-breakpoint-up (md) {
		margin-bottom: 1rem;
	}
}

.list2 {
	list-style-image: url('/assets/img/list-marker.svg');
	&__item {
		line-height: 22px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
}
.slick-dots {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	li {
		text-indent: -10000px;
		width: 12px;
		height: 12px;
		border: 2px solid $black;
		margin: 0 3px;
		&.slick-active {
			background-color: $black;
		}
	}
}