@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
	font-family: "Consola Mono";
	src: url("../fonts/ConsolaMono.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Consola Mono";
	src: url("../fonts/ConsolaMono-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}
