@import './forms/input';
@import './forms/label-input';
@import './forms/input-radio';
@import './forms/input-checkbox';
@import './forms/input-file';
@import './forms/textarea';

.field-group {
	margin-bottom: 2rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.form {
	flex: 1 1 auto;
	&__header {
		padding: 0 1rem;
		margin-bottom: 1rem;
	}
	&__title {
		@include text-lg;
	}
	&__body {
		padding: 2rem 1rem;
		background: #F8F8F8
	}
	&__row {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-up (lg) {
		&__header {
			padding: 0 2rem;
		}
		&__body {
			padding: 2rem;
		}
	}
	@include media-breakpoint-up (xl) {
		&__header {
			padding: 0 4rem;
		}
		&__body {
			padding: 2rem 4rem;
		}
	}
}