.accordion {
	border: 1px solid #e6e6e6;
	&__item {
		padding: 16px;
		border-bottom: 1px solid #e6e6e6;
		&:last-child {
			border-bottom: none;
		}
	}
	&__header {
		margin-bottom: 0;
		display: flex;
		align-items: center;
		&:before {
			content: "";
			flex: 0 0 auto;
			margin-top: -5px;
			border: 2px solid $blue;
			transform: rotate(45deg);
			width: 10px;
			height: 10px;
			border-left: none;
			border-top: none;
		}
	}
	:checked ~ &__header {
		&:before {
			margin-top: 10px;
			border: 2px solid #808080;
			border-right: none;
			border-bottom: none;
		}
	}
	&__title {
		padding-left: 16px;
		font-size: 14px;
		color: $blue;
		cursor: pointer;
	}
	:checked ~ &__header &__title {
		color: #808080;
	}
	&__check {
		display: none;
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	&__body {
		overflow: hidden;
		max-height: 0;
		padding-left: 0px;
		color: #808080;
		font-size: 14px;
		transition: max-height .2s ease-in-out;
		:checked ~ & {
			padding-top: 1rem;
			max-height: 1000px;
		}
		ol, ul {
			padding-left: 32px;
		}
	}
	@include media-breakpoint-up (md) {
		&__item {
			padding: 16px 32px;
		}
		&__header {
			&:before {
				margin-top: -5px;
				width: 20px;
				height: 20px;
			}
		}
		&__title {
			padding-left: 53px;
			font-size: 22px;
		}
	}
	&__body {
		padding-left: 70px;
	}
}