.b-info {
	margin-bottom: 2rem;
	&__title {
		margin-bottom: 1rem;
		font-weight: bold;
		font-size: 18px;
	}
	&__list {
		margin-bottom: 1rem;
		font-size: 14px;
	}
	&__text {
		margin-bottom: 1rem;
		font-size: 14px;
	}
	@include media-breakpoint-up (md) {
		&__title {
			font-size: 24px;
		}
	}
}