.advantages, .advantages-main {
	width: 100%;
	margin: 98px 0 0;
	text-align: center;
}

.advantages {
	margin-bottom: 3rem;
	@include media-breakpoint-up (md) {
		margin-bottom: 0;
	}
}

.advantage-blk {
	width: 25%;
	display: inline-block;
	margin: 0 3% 6%;
	position: relative;
	vertical-align: top;
	&:after {
		position: absolute;
		width: 80%;
		height: 1px;
		background: #000;
		right: -50%;
		top: 53px;
	}
	&:nth-child(3), &:nth-child(5) {
		&:after {
			display: none;
		}
	}
	@include media-breakpoint-up (md) {
		&:after {
			content: '';
		}
	}
}

.desc-advantage {
	width: 100%;
	font-size: 16px;
	margin: 21px 0 0;
}

.image-advantage {
	width: auto;
	height: 106px;
	display: inline-block;
	position: relative;
	img {
		width: auto;
		max-width: 90px;
		height: 100%;
		vertical-align: top;
		display: inline-block;
	}
}
.number-advantage {
	color: #e3e3e3;
	font-size: 54px;
	font-family: 'Consola Mono',sans-serif;
	font-weight: bold;
	position: absolute;
	left: -106px;
	top: -20px;
	@include media-breakpoint-up (md) {
		top: -30px;
	}
}
.benefits {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: -30px;
	&__item {
		flex: 0 0 250px;
		max-width: 250px;
		text-align: center;position: relative;
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&.line {
			&:after {

			}
		}
	}
	&__num {
		color: #e3e3e3;
		font-size: 54px;
		font-family: 'Consola Mono', Arial;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 1;
		
	}
	&__icon {
		width: 120px;
		height: 120px;
		margin-bottom: 2rem;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__text {
		line-height: 1;
		font-size: 14px;
	}
	&__divider {
		width: 100%;
		flex: 0 0 100%;
	}
}