.button {
	appearance: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-size: 18px;
	padding: 13px 40px 17px 40px;
	font-weight: bold;
	transition: all .2s linear;
	&:hover {
		text-decoration: none;
	}

	&.primary {
		background: $black;
		color: $white;
		&:hover {
			background: $blue;
			color: $white;
			text-decoration: none;
		}
	}
	&.secondary {
		background: #f8f8f8;
		color: $black;
		&:hover {
			background: $blue;
			color: $white;
			text-decoration: none;
		}
	}
}