.dropdown {
	position: relative;
	&__button {
		flex: 0 0 32px;
		width: 35px;
		height: auto;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__body {
		right: 0;
		visibility: hidden;
		opacity: 0;
		transition: all .2s linear;
		position: absolute;
		top: calc(100% -1px);
		padding-top: 15px;
	}
	&--phone &__body {
		width: 300px;
	}
	&:hover &__body {
		visibility: visible;
		opacity: 1;
	}
	&__box {
		// box-shadow: 1px 1px 5px rgba(0,0,0,.3);
		padding: 10px 20px;
		background: #f2f2f2;
	}
}