.footer {
	background-color: #181818;
	padding: 40px;
	.desc {
		font-size: 12px;
		color: #c3c3c3;
	}
}

.footer-links {
	display: flex;
	flex-direction: column;
	font-family: 'Consola Mono', Arial;
	color: $white;
	&__title {
		padding-bottom: 18px;
		margin-bottom: 18px;
		border-bottom: 1px solid $blue;
	}
	&__item {
		transition: color .2s ease-in-out;
		color: #c3c3c3;
		font-size: 14px;
		margin-bottom: .5rem;
		&:hover {
			color: $white;
		}
	}
}

.copyrights {
	font-size: 14px;
	color: #c3c3c3;
}

