.form-order {
	display: flex;
	flex-wrap: nowrap;
	&__calc {
		padding: 2rem 1rem;
		background-color: $blue;
	}
	&__fields {
		flex: 1 1 auto;
	}
	&__row {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-up (lg) {
		&__calc {
			padding: 50px 30px 55px 30px;
			flex: 0 0 45%;
			max-width: 45%;
		}
		&__fields {
			
		}
		&__row {
			margin-bottom: 2rem;
		}
	}
	@include media-breakpoint-up (xl) {
		&__calc {
			padding: 30px 60px;
		}
		&__fields {
		}
	}
}