.icon-text {
	display: flex;
	&.right &__img {
		order: 2;
		margin-right: 0;
		margin-left: 4rem;
	}
	&--lg.right &__img {
		margin-left: 4rem;
	}
	&.right &__body {
		order: 1
	}
	&__img {
		flex: 0 0 55px;
		text-align: center;
		width: 55px;
		margin-right: 2rem;
		.lg & {
			flex: 0 0 100px;
			width: 100px;
			height: 90px;
			margin-right: 4rem;
		}
	}
	&__body {
		padding-top: 24px;
		.lg & {
			padding-top: 0;
		}
	}
	&__title {
		@include text-lg;
		font-weight: bold;
		margin-bottom: 1rem;
		&.phone {
			font-size: 28px;
			color: $black;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__content {

	}
}