.news-preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__header {
		display: flex;
		margin-bottom: .25rem
	}
	&__date {
		
	}
	&__category {
		text-decoration: none;
		margin-left: .5rem;
	}
	&__title {
		@include text-lg;
		color: $black;
		text-decoration: none;
		padding-bottom: 6px;
		margin-bottom: 6px;
		border-bottom: 2px solid currentColor;
		transition: all .15s linear;
		line-height: 1;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
	&_text {

	}
}