.responses {
	.slick-arrow {
		width: 20px;
		height: 20px;
		position: absolute;
		z-index: 10;
		top: 30%;
		transform: translateY(-50%);
		border: 3px solid $blue;
		transform: rotate(45deg);
		cursor: pointer;
		transition: opacity .2s ease-in-out;
		&:hover {
			opacity: .6;
		}
	}
	.slick-prev {
		left: 15px;
		border-right: none;
		border-top: none;
	}
	.slick-next {
		right: 15px;
		border-left: none;
		border-bottom: none;
	}
	&__item {
		padding: 0 40px;
	}
	&__content {
		padding: 20px;
		color: #cccccc;
		border-radius: 20px;
		border-bottom-left-radius: 0;
		margin-bottom: 1rem;
		font-size: 14px;
		.slick-center & {
			font-size: 16px;
			background-color: $blue;
			color: $white;
			font-weight: bold;
		}
	}
	&__text {
		
	}
	&__name {
		opacity: 0;
		font-weight: bold;
		font-size: 16px;
		margin-left: 32px;
		.slick-center & {
			opacity: 1;
		}
	}
	&__date {
		opacity: 0;
		margin-left: 32px;
		font-size: 16px;
		color: #404040;
		.slick-center & {
			opacity: 1;
		}
	}
	@include media-breakpoint-up (md) {
		.slick-arrow {
			width: 30px;
			height: 30px;
		}
		.slick-prev {
			left: 33%;
		}
		.slick-next {
			right: 33%;
		}
		
	}
	@include media-breakpoint-up (lg) {
		&__content {
			border-radius: 40px;
			padding: 40px;
			font-size: 14px;
			.slick-center & {
				font-size: 18px;
			}
		}
	}
}