.socials {
	display: flex;
	align-items: center;
	margin: 0 -7px 1rem;
	&__item {
		padding: 0 7px;
	}
	&__link {
		svg {
			transition: fill .2s ease-in-out;
			width: 20px;
			height: 20px;
			fill: $white;
		}
		&:hover {
			svg {
				fill: $blue;
			}
		}
	}
	@include media-breakpoint-up (md) {
		margin-bottom: 0;
	}
}