.stair {
	display: flex;
	flex-direction: column;
	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		min-height: 84px;
		margin-bottom: 115px;
		&:after {
			position: absolute;
			content: "";
			width: 1px;
			background-color: $black;
			height: calc(100% + 40px);
			top: 70px;
			left: 50%;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	&__item.bottom {
		margin-bottom: 380px;
		&:after {
			height: 80px;
			top: calc(100% + 290px);
		}
	}
	&__image {
		text-align: center;
		padding-left: 5%;
		img {
			max-width: 370px;
			box-shadow: 0 10px 30px rgba(0,0,0,0.3)
		}
	}
	.bottom &__image {
		img {
			max-width: 880px;
			max-height: none;
			height: 206px;
			position: absolute;
			top: calc(100% + 40px);
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__number {
		font-size: 54px;
		line-height: 1;
		font-weight: bold;
		color: #efefef;
		position: relative;
		
	}
	
	&__line {

	}
	&__text {
		font-size: 20px;
		line-height: 28px;
		.small {
			font-size: 1rem;
			line-height: 1.5;
			margin-top: 20px;
		}
	}
	@include media-breakpoint-up (lg) {
		&__image {
			flex: 0 0 40%;
		}
		&__text {
			flex: 0 0 40%;
		}
	}
	@include media-breakpoint-up (xl) {
		&__number {
			font-size: 72px;
		}
	}
}