.stat-info {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	&__icon {
		flex: 0 0 32px;
		width: 32px;
		height: 32px;
		margin-right: 16px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__content {
		line-height: 1;
		display: flex;
		flex-direction: column;
	}
	&__num {
		font-size: 22px;
		font-weight: bold;
	}
	&__text {
		font-size: 14px;
		white-space: nowrap;
	}
	&__link {
		font-size: 14px;
	}
	@include media-breakpoint-up (xl) {
		margin-bottom: 0;
	}
}