.steps {
	&__header {
		padding: 30px 0;
		border: 1px solid $black;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(12);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(3);
		}
	}
	&__body {
		margin: 40px 0;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__controls {
		@include make-col-ready();
		width: auto;
		flex: 0 0 auto;
	}
}

.step {
	display: flex;
	align-items: center;
	&__icon {
		margin-right: 2rem;
		flex: 0 0 80px;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__content {
		color: rgba(0,0,0,0.4);
	}
	&__title {
		font-weight: bold;
		font-size: 1.5rem;
	}
	&__text {

	}
	&.active &__content {
		color: $black;
	}
}