.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid $black;
	&__button {
		flex: 0 0 50%;
		max-width: 50%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 14px;
		padding: 0 1rem;
		background: none;
		border: 1px solid $black;
		// border-left-width: 0;
		color: $black;
		text-decoration: none;
		position: relative;
		transition: all 0.4s ease-out;
		&:first-child {
			border-left-width: 2px;
		}
		&.active {
			background: $black;
			color: $white;
			&:hover {
				color: $white;
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 103%;
			top: 50%;
			left: 50%;
			z-index: -1;
			background: #f8f8f8;
			opacity: 0;
			transition: all .3s;
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			text-decoration: none;
			color: $black;
			outline-width: 0;
			&:after {
				width: 100%;
				opacity: 1;
			}
		}
	}
	@include media-breakpoint-up (lg) {
		border: none;
		&__button {
			border-width: 2px;
			flex: 0 0 auto;
			margin-left: -2px;
			font-size: 16px;
			padding: 0 27px;
		}
	}
}