<div class="container">
	<h1>Оформить займ</h1>
	<div class="steps">
		{{> steps__header }}
		<div class="steps__body form-order">
			<div class="form-order__calc"></div>
			<div class="form-order__fields form">
				<div class="form__body">
					<div class="field-group">
						<input type="text" class="input" placeholder="Фамилия" name="UserModel[last_name]">
					</div>
					<div class="field-group row">
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="Имя" name="UserModel[first_name]">
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="Отчество" name="UserModel[middle_name]">
						</div>
					</div>
					<div class="field-group">
						<label for="usermodel-birth_date" class="label-input">Дата рождения</label>
						<input id="usermodel-birth_date" type="text" class="input" placeholder="ДД.ММ.ГГГГ" name="UserModel[birth_date]">
					</div>
					<div class="field-group">
						<div class="label-input">Пол</div>
						<div class="row">
							<div class="col-auto">
								<label for="usermodel-gender-key_1" class="input-radio">
									<input type="radio" id="usermodel-gender-key_1" name="UserModel[gender]" checked>
									<span class="input-radio__text">Мужчина</span>
								</label>
							</div>
							<div class="col-auto">
								<label for="usermodel-gender-key_2" class="input-radio">
									<input type="radio" id="usermodel-gender-key_2" name="UserModel[gender]">
									<span class="input-radio__text">Женщина</span>
								</label>
							</div>
						</div>
					</div>
					<div class="field-group">
						<input id="usermodel-birth_date" type="text" class="input" placeholder="Мобильный телефон" name="UserModel[mobile_phone]">
					</div>
					<div class="field-group">
						<input id="usermodel-birth_date" type="text" class="input" placeholder="E-mail" name="UserModel[email]">
					</div>
					<div class="field-group">
						<label class="input-checkbox mb-3">
							<input type="checkbox" checked>
							<div class="input-checkbox__text">Подписаться на рассылку</div>
						</label>
						<label class="input-checkbox">
							<input type="checkbox" checked>
							<div class="input-checkbox__text">Согласие на обработку персональных данных и передачу третьим лицам</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="steps__footer justify-content-end">
			<a href="second.html" class="button primary">Далее</a>
		</div>
	</div>
</div>