<div class="container">
	<h1>Оформить займ</h1>
	<div class="steps">
		{{> steps__header }}
		<div class="steps__body">
			<div class="row mb-5">
				<div class="col-12 col-lg-6">
					<h3 class="mb-4">Сделайте фото с кодом</h3>
					<p>Ваш код <span class="c-blue">267293</span></p>
					<p>Для этого сфотографируйтесь так, чтобы было видно ваше лицо. Напишите код на бумаге и сфотографируйтесь вместе с ним.</p>
					<div class="form mb-4">
						<div class="form__body">
							<div class="label-input">Фотография с кодом</div>
							<label class="input-file">
								<input type="file">
								<span class="input-file__filename"></span>
								<span class="input-file__button button primary">Выбрать</span>
							</label>
						</div>
					</div>
					<div class="warning">
						<div class="warning__content">Если вы загрузите фото без кода, заявка будет автоматически отклонена по причине невозможности вашей идентификации.</div>
					</div>
				</div>
				<div class="col-12 col-lg-5 offset-lg-1">
					<img src="/assets/img/photo-with-code.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<h3 class="mb-4">Сканы документов</h3>
					<div class="form mb-4">
						<div class="form__body">
							<div class="field-group">
								<div class="label-input">Паспорт: главная страница</div>
								<label class="input-file">
									<input type="file">
									<span class="input-file__filename">Выбрать файл</span>
									<span class="input-file__button button primary">Выбрать</span>
								</label>
							</div>
							<div class="field-group">
								<div class="label-input">Паспорт: страница регистрации</div>
								<label class="input-file">
									<input type="file">
									<span class="input-file__filename">Выбрать файл</span>
									<span class="input-file__button button primary">Выбрать</span>
								</label>
							</div>
							<div class="field-group">
								<div class="label-input">Паспорт: доп. страница регистрации (при наличии)</div>
								<label class="input-file">
									<input type="file">
									<span class="input-file__filename">Выбрать файл</span>
									<span class="input-file__button button primary">Выбрать</span>
								</label>
							</div>
						</div>
					</div>
					<div class="warning mb-6">
						<div class="warning__content">
							<div class="mb-2">На главной странице:</div>
							<ul class="list2">
								<li class="list2__item">Номер и серия паспорта (на обеих страницах)</li>
								<li class="list2__item">Орнамент слева на фото</li>
								<li class="list2__item">ФИО заёмщика</li>
								<li class="list2__item">Дата рождения</li>
							</ul>
							<div class="mb-2">На странице регистрации:</div>
							<ul class="list2">
								<li class="list2__item">Номер и серия паспорта</li>
								<li class="list2__item">Штамп прописки</li>
							</ul>
						</div>
					</div>
					<h3 class="mb-3">Способы получения займа</h3>
					<div class="mb-3">{{> payment-list }}</div>
					<div class="form">
						<div class="form__body"><input type="text" placeholder="0000-0000-0000-0000" class="input"></div>
					</div>
				</div>
				<div class="col-12 col-lg-5 offset-lg-1">
					<img src="/assets/img/passport3-censored.png" alt="">
				</div>
			</div>
		</div>
		<div class="steps__footer">
			<a href="third.html" class="button secondary">Назад</a>
			<a href="/" class="button primary">Далее</a>
		</div>
	</div>
</div>