<div class="container">
	<h1>Оформить займ</h1>
	<div class="steps">
		{{> steps__header }}
		<div class="steps__body">
			<div class="form mb-5">
				<div class="form__header">
					<div class="form__title">Паспортные данные</div>
				</div>
				<div class="form__body">
					<div class="field-group row">
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="Серия и номер паспорта" name="UserModel[]">
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="Кем выдан (как в паспорте)" name="UserModel[]">
						</div>
					</div>
					<div class="field-group row">
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="Место рождения (как в паспорте)" name="UserModel[]">
						</div>
						<div class="col-12 col-lg-6">
							<input type="text" class="input" placeholder="ДД.ММ.ГГГГ" name="UserModel[]">
						</div>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-12 col-lg-6">
					<div class="form">
						<div class="form__header">
							<div class="form__title">Адрес по прописке</div>
						</div>
						<div class="form__body">
							<div class="field-group">
								<input type="text" class="input" placeholder="Регион / район проживания" name="UserModel[]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Город / населенный пункт" name="UserModel[first_name]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Улица" name="UserModel[]">
							</div>
							<div class="field-group row">
								<div class="col-4">
									<input type="text" class="input" placeholder="Дом" name="UserModel[]">
								</div>
								<div class="col-4">
									<input type="text" class="input" placeholder="Корпус" name="UserModel[]">
								</div>
								<div class="col-4">
									<input type="text" class="input" placeholder="Квартира" name="UserModel[]">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="form">
						<div class="form__header row">
							<div class="col-12 col-lg-6">
								<div class="form__title">Адрес проживания</div>
							</div>
							<div class="col-12 col-lg-6">
								<label class="input-checkbox">
									<input type="checkbox" checked>
									<div class="input-checkbox__text">Проживаю по прописке</div>
								</label>
							</div>
						</div>
						<div class="form__body">
							<div class="field-group">
								<input type="text" class="input" placeholder="Регион / район проживания" name="UserModel[]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Город / населенный пункт" name="UserModel[first_name]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Улица" name="UserModel[]">
							</div>
							<div class="field-group row">
								<div class="col-4">
									<input type="text" class="input" placeholder="Дом" name="UserModel[]">
								</div>
								<div class="col-4">
									<input type="text" class="input" placeholder="Корпус" name="UserModel[]">
								</div>
								<div class="col-4">
									<input type="text" class="input" placeholder="Квартира" name="UserModel[]">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="steps__footer">
			<a href="first.html" class="button secondary">Назад</a>
			<a href="third.html" class="button primary">Далее</a>
		</div>
	</div>
</div>