<div class="container">
	<h1>Оформить займ</h1>
	<div class="steps">
		{{> steps__header }}
		<div class="steps__body">
			<div class="row no-gutters mb-3">
				<div class="col-12 col-lg-6">
					<div class="form">
						<div class="form__header">
							<div class="form__title">Контакты</div>
						</div>
						<div class="form__body">
							<div class="field-group">
								<input type="text" class="input" placeholder="Skype" name="UserModel[]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Номер СНИЛС (не обязательно)" name="UserModel[first_name]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Дополнительный контактный телефон №1" name="UserModel[]">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="form">
						<div class="form__header">
							<div class="form__title">Работа</div>
						</div>
						<div class="form__body">
							<div class="field-group row mb-5">
								<div class="col-auto">
									<label class="input-checkbox">
										<input type="checkbox">
										<div class="input-checkbox__text">Пенсионер</div>
									</label>
								</div>
								<div class="col-auto">
									<label class="input-checkbox">
										<input type="checkbox">
										<div class="input-checkbox__text">Безработный</div>
									</label>
								</div>
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Семейный доход в месяц (руб.)" name="UserModel[]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Место работы" name="UserModel[first_name]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Адрес места работы" name="UserModel[]">
							</div>
							<div class="field-group">
								<input type="text" class="input" placeholder="Рабочий телефон" name="UserModel[]">
							</div>
						</div>
					</div>
				</div>
			</div>
			<label class="input-checkbox pl-4">
				<input type="checkbox" checked>
				<div class="input-checkbox__text">Настоящим я подтверждаю, что ознакомлен и согласен со <a href="#">следующим</a></div>
			</label>
		</div>
		<div class="steps__footer">
			<a href="second.html" class="button secondary">Назад</a>
			<a href="fourth.html" class="button primary">Далее</a>
		</div>
	</div>
</div>