<div class="container">
	<h1>О нас</h1>
	<div class="tabs mb-6">
		<div class="tabs__button active">О нас</div>
		<a href="/news.html" class="tabs__button">Новости</a>
		<a href="/articles.html" class="tabs__button">Статьи</a>
		<a href="/faq.html" class="tabs__button">Общие вопросы</a>
		<a href="/reviews.html" class="tabs__button">Отзывы</a>
	</div>
	<div class="main-text-about">
		С помощью нашей системы Вы без труда сможете получить оперативную <span class="bg-blue px-1">финансовую помощь</span> в виде микрозайма на банковскую карту. Заемщик получает решение практически <span class="bg-blue px-1">мгновенно</span>, а деньги поступают на пластиковую карту или переводом через банковскую платежную систему партнеров-провайдеров в течение одного дня. Срочный <a href="/">займ на карту</a> онлайн оформляется за <span class="bg-blue px-1">20 минут по паспорту</span>.
	</div>
	<div class="posts-about">
		<div class="posts-about__one icon-text lg">
			<div class="icon-text__img">
				<img src="/assets/img/post-about1485886858.svg" alt="post about image">
			</div>
			<div class="icon-text__body">
				<h2 class="icon-text__title">Множество способов получения займа</h2>
				<div class="icon-text__content">Мы готовы выдать вам сумму от 500 до 25 000 рублей на срок до 21 календарного дня. Лояльная процентная политика <strong>OneClickMoney</strong> делает услугу доступной и выгодной для каждого, кому срочно необходима небольшая сумма до зарплаты.</div>
			</div>
		</div>
		<div class="posts-about__one icon-text lg right">
			<div class="icon-text__img">
				<img src="/assets/img/post-about2.svg" alt="post about image">
			</div>
			<div class="icon-text__body">
				<h2 class="icon-text__title">Не выходя из дома</h2>
				<div class="icon-text__content">Если вам необходимо срочно получить деньги — не потребуется даже выходить из дома. Можно оформить микрозайм на карту онлайн находясь в любом городе России с домашнего компьютера, подключенного к интернету. Наша система работает для вас круглосуточно!</div>
			</div>
		</div>
		<div class="posts-about__one icon-text lg">
			<div class="icon-text__img">
				<img src="/assets/img/post-about3.svg" alt="post about image">
			</div>
			<div class="icon-text__body">
				<h2 class="icon-text__title">Возможность продления займа</h2>
				<div class="icon-text__content">Мы дорожим своей репутацией и полностью выполняем свои обязательства перед клиентами. Мы заинтересованы во взаимовыгодном долгосрочном сотрудничестве, поэтому предпочитаем формировать честные, прозрачные и доверительные отношения с нашими заемщиками.</div>
			</div>
		</div>
		<div class="posts-about__last">
			<h2>Микрозаймы от OneClickMoney</h2>
			<p>На сегодняшний день микрозаймы на банковскую карту являются одной из наиболее популярных и востребованных финансовых услуг. Потребность современных людей в деньгах более чем актуальна, и для многих срочный онлайн займ является самым быстрым и выгодным решением финансовых проблем.</p>
			<p>Когда деньги срочно нужны, а их нет — займ на карту через интернет от OneClickMoney может стать вашим спасательным кругом.</p>
		</div>
	</div>
</div>