<div class="container">
	<h1>Статьи</h1>
	<div class="tabs mb-6">
		<a href="/about.html" class="tabs__button">О нас</a>
		<a href="/news.html" class="tabs__button">Новости</a>
		<div class="tabs__button active">Статьи</div>
		<a href="/faq.html" class="tabs__button">Общие вопросы</a>
		<a href="/reviews.html" class="tabs__button">Отзывы</a>
	</div>
	<div class="news-list mb-5">
		<div class="news-list__inner">
			<div class="news-list__item">
				{{> article-preview }}
			</div>
			<div class="news-list__item">
				{{> article-preview }}
			</div>
			<div class="news-list__item">
				{{> article-preview }}
			</div>
		</div>
		<button class="news-list__button button primary">Показать еще</button>
	</div>
</div>