<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button">Как погасить займ</a>
		<div class="tabs__button active">Услуга "Автоплатеж"</div>
	</div>
	<h2 class="text-center mb-7">Подключение услуги автоплатеж</h2>
	<div class="stair">
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/11485887975.jpg" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">01</div>
			<div class="stair__text wow fadeInRight">Зайдите в личный кабинет на сайте, используя Ваш логин и пароль. В случае, если Вы не помните их, позвоните по телефону нашей бесплатной горячей линии 8 (800)700 06 07</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/21485888021.jpg" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">02</div>
			<div class="stair__text wow fadeInRight">В личном кабинете перейдите в раздел «Личные данные».</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/31485888037.jpg" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">03</div>
			<div class="stair__text wow fadeInRight">В подразделе «Основное» выберите пункт «Управление автоплатежами»</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/41485888056.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">04</div>
			<div class="stair__text wow fadeInRight">Заполните данные Вашей банковской карты в форме и нажмите кнопку «Добавить карту»</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
			</div>
			<div class="stair__number wow fadeIn">05</div>
			<div class="stair__text wow fadeInRight"></div>
		</div>
	</div>
	<p class="text-center text-lg" style="margin-top: -120px;">Поздравляем Вас!</p>
	<p class="text-center mb-6">Вы успешно подключили услугу"автоплатеж" для погашения взятого займа. Вам больше не нужно беспокоиться о том, что Вы можете допустить просрочку по займу. Необходимо помнить, что на счету банковской карты должна быть доступна к списанию полная сумма взятого займа и сумма процентов, начисленная по нему.</p>
</div>