<div class="container">
	<h1>Контакты</h1>
	<div class="row mb-5">
		<div class="col-12 col-lg-6">
			<div class="form">
				<div class="form__body">
					<div class="field-group">
						<input type="text" class="input mb-3" placeholder="Ваш e-mail">
					</div>
					<div class="field-group">
						<input type="text" class="input mb-3" placeholder="Ваше имя">
					</div>
					<div class="field-group">
						<input type="text" class="input mb-3" placeholder="Номер договора (при необходимости)">
					</div>
					<div class="field-group">
						<select class="wide" name="ContactForm[theme]">
							<option value="">Характер обращения</option>
							<option value="">Претензия, жалоба</option>
							<option value="">Запрос сведений/документов по договору</option>
							<option value="">Техническая поддержка</option>
							<option value="">Обработка персональных данных</option>
							<option value="">Осуществление действий, направленных на возврат задолженности</option>
							<option value="">Уведомление (обращение без требования)</option>
							<option value="">Иное</option>
							<option value="">Госорганы</option>
							<option value="">Отсрочка, расторжение, реструктуризация</option>
						</select>
					</div>
					<div class="field-group mb-5">
						<div class="textarea">
							<div class="textarea__label">Текст сообщения</div>
							<textarea name="" id="" cols="30" rows="10" class="textarea__field"></textarea>
						</div>
					</div>
					<div class="field-group mb-5">
						<label class="input-file">
							<input type="file">
							<span class="input-file__filename">Выберите файл</span>
							<span class="input-file__button button primary">Выбрать</span>
						</label>
					</div>
					<div class="field-group d-flex justify-content-end">
						<input type="submit" class="button primary" value="Отправить">
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-5 offset-lg-1">
			<div class="icon-text mb-4">
				<div class="icon-text__img">
					<img src="/assets/img/tel-con.svg" alt="phone image">
				</div>
				<div class="icon-text__body">
					<a href="tel:+78007000607" class="icon-text__title phone">8 (800) 700 06 07</a>
					<div class="icon-text__content">Звонок по России бесплатный</div>
				</div>
			</div>
			<div class="icon-text mb-4">
				<div class="icon-text__img">
					<img src="/assets/img/adress-c.svg" alt="address image">
				</div>
				<div class="icon-text__body">
					<div class="icon-text__title">Юридический адрес</div>
					<div class="icon-text__content">
						<div class="mb-3">ООО «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ"</div>
						<div>Россия, 344101, Ростовская&nbsp;область, г.&nbsp;Ростов&#8209;на&#8209;Дону, ул.&nbsp;Ленинградская, дом&nbsp;7, кабинет&nbsp;11&nbsp;Б</div>
					</div>
				</div>
			</div>
			<div class="icon-text">
				<div class="icon-text__img">
					<img src="/assets/img/email-con.svg" alt="email image">
				</div>
				<div class="icon-text__body">
					<div class="icon-text__title">E-mail</div>
					<div class="icon-text__content">
						<div class="mb-3">
							По вопросам сотрудничества: <br>
							<a href="mailto:pr@oneclickmoney.ru">pr@oneclickmoney.ru</a>
						</div>
						Для обращений: <br>
						<div>
							<a href="mailto:loan@oneclickmoney.ru">loan@oneclickmoney.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-12 col-lg-6">
			<p><strong>Полное наименование:</strong> Общество с ограниченной ответственностью «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ»</p>
			<p><strong>Сокращенное наименование:</strong> ООО «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ»</p>
			<p><strong>Юридический адрес:</strong> 344101, Ростовская область, г. Ростов-на-Дону, ул. Ленинградская, дом 7 кабинет 11 Б ОГРН 1156196059997</p>
			<p>ИНН 6162070130</p>
			<p>КПП 616201001</p>
			<p><strong>Расчетный счет:</strong> 40701810700300000136</p>
			<p><strong>Корреспондирующий счет:</strong> 30101810300000000999</p>
			<p>Банк Филиал Банка ВТБ (ПАО) в городе Ростове-на-Дону</p>
			<p><strong>БИК Банка:</strong> 046015999</p>
			<p><strong>Режим работы:</strong> Круглосуточно.</p>
			<p>Регистрационный номер записи в государственном реестре микрофинансовых организаций — 001503760007126.</p>
			<p>ООО «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ» используется товарный знак «Oneсlickmoney» (свидетельство № 52387) на основании Лицензионного договора о предоставлении права использования товарного знака №52387 от 10.11.2015 года.</p>
		</div>
		<div class="col-12 col-lg-6">
			<p><strong>О привлечении к оказанию услуг третьего лица:</strong></p>
			<p>ООО «МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ» в целях осуществления действий, направленных на возврат задолженности по договорам микрозайма привлекает ООО «ПЕРСПЕКТИВА» (ИНН 9102220668), ООО «НСВ» (ИНН 772755179) и ООО ДА" Дельта М" (ИНН6166095992).</p>
		</div>
	</div>
</div>