<div class="container">
	<h1>Общие вопросы</h1>
	<div class="tabs mb-6">
		<a href="/about.html" class="tabs__button">О нас</a>
		<a href="/news.html" class="tabs__button">Новости</a>
		<a href="/articles.html" class="tabs__button">Статьи</a>
		<div class="tabs__button active">Общие вопросы</div>
		<a href="/reviews.html" class="tabs__button">Отзывы</a>
	</div>
</div>