<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<div class="tabs__button active">Как погасить займ</div>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<h2 class="mb-5">Способы погашения займов</h2>
	<div class="row mb-5">
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/visa.html" class="payment">
				<span class="payment__img">
					<img style="height: 60px" src="/assets/img/payments/card.svg" alt="">
				</span>
				<span class="payment__title">Любой картой</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/yandex.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/yandex-pay2.png" alt="yandex">
				</span>
				<span class="payment__title">Яндекс.Деньги</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/terminals.html" class="payment">
				<span class="payment__img">
					<img style="height: 60px" src="/assets/img/payments/terminal.svg" alt="terminal">
				</span>
				<span class="payment__title">Платежные терминалы</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/sberbank.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/sberbank-online.png" alt="sberbank-online">
				</span>
				<span class="payment__title">Сбербанк онлайн</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/alfabank.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/alfabank.png" alt="alfabank">
				</span>
				<span class="payment__title">Альфа-клик</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/psb.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/psb.jpg" alt="">
				</span>
				<span class="payment__title">ПромСвязьБанк</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/webmoney.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/webmoney.png" alt="">
				</span>
				<span class="payment__title">WebMoney</span>
			</a>
		</div>
		<div class="col-6 col-lg-3">
			<a href="/how-to-repay-loan/mobilnyj-bank-sberbanka.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/sberbank-mobile.png" alt="">
				</span>
				<span class="payment__title">Мобильный банк<br> Сбербанка</span>
			</a>
		</div>
	</div>
</div>