<div class="container pb-6">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<div class="tabs__button active">Схема работы</div>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<div class="icon-text lg mb-5 wow fadeInUp">
		<div class="icon-text__img">
			<img src="/assets/img/scheme11485887693.svg" alt="scheme image">
		</div>
		<div class="icon-text__body">
			<div class="icon-text__title">1. Пройдите регистрацию</div>
			<div class="icon-text__content">Для получения займа необходимо пройти регистрацию на нашем сайте. Ваша заявка будет рассмотрена в течение 7 минут.</div>
		</div>
	</div>
	<div class="icon-text lg mb-5 wow fadeInUp">
		<div class="icon-text__img">
			<img src="/assets/img/scheme21485887729.svg" alt="scheme image">
		</div>
		<div class="icon-text__body">
			<div class="icon-text__title">2. Подпишите оферту</div>
			<div class="icon-text__content">На ваш мобильный телефон будет отправлен смс-код, который необходимо ввести в личном кабинете на нашем сайте для подтверждения принятия оферты.</div>
		</div>
	</div>
	<div class="icon-text lg mb-5 wow fadeInUp">
		<div class="icon-text__img">
			<img src="/assets/img/scheme31485887747.svg" alt="scheme image">
		</div>
		<div class="icon-text__body">
			<div class="icon-text__title">3. Получите деньги</div>
			<div class="icon-text__content">После подтверждения принятия оферты, мы переведем вам деньги удобным для Вас способом. Вы можете получить заем на банковскую карту, электронный кошелек или через системы денежных переводов Юнистрим (БЭСТ) и Золотая корона.</div>
		</div>
	</div>
</div>