<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<div class="tabs__button active">Как взять займ</div>
		<a href="/how-to-repay-loan.html" class="tabs__button">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<h2 class="mb-5">Зачисление — 15−20 минут</h2>
	<div class="how-to-get">
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/mastercard.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/mastercard.png" alt="">
				</span>
				<span class="payment__title">Карта MasterCard</span>
			</a>
		</div>
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/visa.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/visa-pay.png" alt="">
				</span>
				<span class="payment__title">Карта Visa</span>
			</a>
		</div>
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/korona.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/crown-pay.jpg" alt="">
				</span>
				<span class="payment__title">Золотая корона**</span>
			</a>
		</div>
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/qiwi.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/qiwi-pay.png" alt="">
				</span>
				<span class="payment__title">QIWI кошелёк</span>
			</a>
		</div>
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/yandex.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/yandex-pay.png" alt="">
				</span>
				<span class="payment__title">Yandex Money</span>
			</a>
		</div>
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/mir.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/mir-pay.png" alt="">
				</span>
				<span class="payment__title">МИР</span>
			</a>
		</div>
	</div>
	<h2 class="mb-5">От 15 минут до 2х суток</h2>
	<div class="how-to-get">
		<div class="how-to-get__item">
			<a href="/how-to-get-loan/maestro.html" class="payment">
				<span class="payment__img">
					<img src="/assets/img/payments/maestro-pay.png" alt="">
				</span>
				<span class="payment__title">Карта Maestro*</span>
			</a>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12 col-lg-8">
			<div class="note">
				<p>* Карты нового образца Maestro выпущенные начиная с 01.01.2013 (на карте с лицевой стороны должен иметься чип, а так же CVV с обратной стороны).</p>
				<p>** Возможна задержка перечисления займа в зависимости от банка партнёра.</p>
				<p>*** Для того, чтобы ускорить получение денежных средств на карту «Кукуруза», нужно выбрать метод получения «Золотая корона». После одобрения заявки, в личном кабинете «Золотой короны» перевод можно будет вывести на карту. Это займёт несколько минут.</p>
				<p>Схема работы микрофинансовой организации OneClickMoney довольно проста и открыта для своих клиентов. У нас нет скрытых комиссий и переплат. После одобрения и зачисления займа на карту или займа на киви кошелек, вы в любое время можете проверить состояние счета в личном кабинете на сайте или через наше мобильное приложение.</p>
			</div>
		</div>
	</div>
</div>