---
layout: index-page
---

{{> header }}
{{> message }}
<div class="home mb-5">
	<div class="container">
		<div id="app"></div>
	</div>
</div>
<div class="container mb-5">
	<div class="row justify-content-between align-items-center">
		<div class="col-12 col-md-4">
			<div class="text-cons c-gray">Вы можете получить денежные средства любым удобным для Вас способом</div>
		</div>
		<div class="col-12 col-md">
			{{> payment-list }}
		</div>
	</div>
</div>
<div class="container mb-5">
	<div class="menu-wrapper">
		<ul class="menu menu--main">
			<li class="menu__item"><a href="#" class="menu__link">О компании</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Как это работает</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
			<li class="menu__item"><a href="#" class="menu__link">Вакансии</a></li>
		</ul>
	</div>
</div>
<div class="container mb-5">
	<h2 class="h2 text-center mb-5">Преимущества онлайн займов<br><a href="#">Cashtoyou.ru</a></h2>
	{{> benefits }}
	<div class="row justify-content-center">
		<div class="col-auto">
			<button class="btn btn-success btn-lg">Оформить заявку</button>
		</div>
	</div>
</div>
<div class="container mb-5">
	<h2 class="h2 text-center mb-5">Довольные клиенты<br> говорят о нас</h2>
</div>
<div class="responses mb-5">
	<div class="responses__item">
		<div class="responses__content">
			<div class="responses__text">Может и не всегда все устраивает но надежно когда тебе нужны деньги. А это самое главное.</div>
		</div>
		<div class="responses__name">- Мария Калашникова</div>
		<div class="responses__date">04.10.2016</div>
	</div>
	<div class="responses__item">
		<div class="responses__content">
			<div class="responses__text">Может и не всегда все устраивает но надежно когда тебе нужны деньги. А это самое главное.</div>
		</div>
		<div class="responses__name">- Мария Калашникова</div>
		<div class="responses__date">04.10.2016</div>
	</div>
	<div class="responses__item">
		<div class="responses__content">
			<div class="responses__text">Может и не всегда все устраивает но надежно когда тебе нужны деньги. А это самое главное.</div>
		</div>
		<div class="responses__name">- Мария Калашникова</div>
		<div class="responses__date">04.10.2016</div>
	</div>
	<div class="responses__item">
		<div class="responses__content">
			<div class="responses__text">Может и не всегда все устраивает но надежно когда тебе нужны деньги. А это самое главное.</div>
		</div>
		<div class="responses__name">- Мария Калашникова</div>
		<div class="responses__date">04.10.2016</div>
	</div>
</div>
<div class="container mb-5">
	<h2 class="h2 text-center c-blue mb-5">Общие вопросы</h2>
	<div class="row justify-content-center mb-5">
		<div class="col-12 col-md-8">
			{{> accordion-main }}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<button class="btn btn-success btn-lg">Оформить заявку</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="mb-5">
		<h2 class="h2 text-center mb-5">О сервисе</h2>
		<div class="row">
			<div class="col-12 col-md-6 col-xl-5 offset-xl-1">
				<div class="b-info wow fadeInUp">
					<h3 class="b-info__title">Онлайн займы Cashtoyou.ru — быстро, удобно и безопасно</h3>
					<div class="b-info__text">
						Срочно понадобились деньги? Воспользуйтесь сервисом Cashtoyou, который ежедневно выбирают тысячи россиян.
					</div>
					<div class="b-info__text">
						Чтобы получить микрозайм заполните анкету и отправьте нам заявку на сайте, либо в мобильном приложении Cashtoyou. Мы зачисляем денежные средства на кредитные и дебетовые карты, электронные кошельки, в том числе на Киви (Qiwi) и системы денежных переводов. Не волнуйтесь о времени — процесс займет не более 15 минут.
					</div>
					<ul class="b-info__list list2">
						<li class="list2__item">Из документов требуется лишь паспорт.</li>
						<li class="list2__item">Выдача онлайн займа происходит полностью дистанционно, никуда ехать не нужно.</li>
						<li class="list2__item">Процедура погашения займа также проста: воспользуйтесь банковской картой, электронным кошельком, терминалом оплаты.</li>
					</ul>
					<div class="b-info__text">Получить срочный микрокредит можно, находясь в любом уголке Земли. Сервис Cashtoyou доступен круглосуточно, включая праздничные и выходные дни. Мы работаем везде, где работает интернет.</div>
				</div>
				<div class="b-info wow fadeInUp">
					<h3 class="b-info__title">Кто может стать нашим клиентом?</h3>
					<div class="b-info__text">Обратившись в компанию Cashtoyou, вы сможете избежать дополнительных сложностей с оформлением онлайн займов, поскольку в основе нашего сервиса — особый подход к каждому клиенту. Уже сегодня в числе наших заемщиков такие категории пользователей сети, как:</div>
					<ul class="b-info__list list2">
						<li class="list2__item">физические лица с испорченной кредитной историей;</li>
						<li class="list2__item">люди пенсионного и предпенсионного возраста;</li>
						<li class="list2__item">заемщики с неподтвержденным доходом;</li>
						<li class="list2__item">учащиеся ВУЗов и колледжей.</li>
					</ul>
					<div class="b-info__text">Финансовые продукты Cashtoyou могут быть доступны всем посетителям сайта в возрасте от 18 до 80 лет, независимо от региона проживания и вида трудоустройства.</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-5">
				<div class="b-info wow fadeInUp">
					<h3 class="b-info__title">Преимущества</h3>
					<ul class="b-info__list list2">
						<li class="list2__item">Для оформления заявки на онлайн займы нужен только паспорт.</li>
						<li class="list2__item">Деньги легко получить без привлечения поручителей и справок с работы.</li>
						<li class="list2__item">Чтобы взять микрозайм, достаточно провести 15 минут на сайте и дождаться еще 5−10 минут одобрения заявки.</li>
						<li class="list2__item">Не ждите несколько недель — получите деньги на электронный кошелек или карту мгновенно после одобрения.</li>
						<li class="list2__item">Плохая КИ? Окажем помощь даже при наличии плохой кредитной истории. Мы индивидуально подходим к каждому клиенту!</li>
						<li class="list2__item">Сервис выдает микрокредиты круглосуточно и практически без отказов.</li>
						<li class="list2__item">Работать с сервисом можно с любого устройства, главное чтобы был доступ к Интернету.</li>
					</ul>
				</div>
				<div class="b-info wow fadeInUp">
					<h3 class="b-info__title">Как взять первый онлайн займ в CashtoYou:</h3>
					<ul class="b-info__list list2">
						<li class="list2__item">Для оформления заявки на онлайн займы нужен только паспорт.</li>
						<li class="list2__item">Деньги легко получить без привлечения поручителей и справок с работы.</li>
						<li class="list2__item">Чтобы взять микрозайм, достаточно провести 15 минут на сайте и дождаться еще 5−10 минут одобрения заявки.</li>
						<li class="list2__item">Не ждите несколько недель — получите деньги на электронный кошелек или карту мгновенно после одобрения.</li>
						<li class="list2__item">Плохая КИ? Окажем помощь даже при наличии плохой кредитной истории. Мы индивидуально подходим к каждому клиенту!</li>
						<li class="list2__item">Сервис выдает микрокредиты круглосуточно и практически без отказов.</li>
						<li class="list2__item">Работать с сервисом можно с любого устройства, главное чтобы был доступ к Интернету.</li>
					</ul>
					<div class="b-info__text">Указанная вами информация о себе хранится на нашем сервисе в соответствии с требованиями федерального закона РФ «О защите персональных данных».</div>
					<div class="b-info__text">На вас неожиданно свалились финансовые трудности? Не волнуйтесь! Зарегистрируйтесь и подайте заявку на рассмотрение, мы поможем!</div>
				</div>
			</div>
		</div>
	</div>
</div>