<div class="container">
	<h1>Новости</h1>
	<div class="tabs mb-6">
		<a href="/about.html" class="tabs__button">О нас</a>
		<div class="tabs__button active">Новости</div>
		<a href="/articles.html" class="tabs__button">Статьи</a>
		<a href="/faq.html" class="tabs__button">Общие вопросы</a>
		<a href="/reviews.html" class="tabs__button">Отзывы</a>
	</div>
	<div class="news-list mb-5">
		<div class="news-list__inner">
			<div class="news-list__item">
				{{> news-preview }}
			</div>
			<div class="news-list__item">
				{{> news-preview }}
			</div>
			<div class="news-list__item">
				{{> news-preview }}
			</div>
		</div>
		<button class="news-list__button button primary">Показать еще</button>
	</div>
</div>