<div class="container">
	<h1>Отзывы</h1>
	<div class="tabs mb-6">
		<a href="/about.html" class="tabs__button">О нас</a>
		<a href="/news.html" class="tabs__button">Новости</a>
		<a href="/articles.html" class="tabs__button">Статьи</a>
		<a href="/faq.html" class="tabs__button">Общие вопросы</a>
		<div class="tabs__button active">Отзывы</div>
	</div>
	<div class="form mb-5">
		<div class="form__body">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="field-group">
						<input type="text" class="input" placeholder="Ваше имя">
					</div>
					<div class="field-group">
						<input type="text" class="input" placeholder="Ваш e-mail">
					</div>
					<div class="field-group">
						<div class="textarea">
							<div class="textarea__label">Текст сообщения</div>
							<textarea name="" id="" cols="30" rows="10" class="textarea__field"></textarea>
						</div>
					</div>
					<div class="field-group d-flex justify-content-end">
						<input type="submit" class="button primary" value="Отправить">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews">
		<h2 class="reviews__title">Все отзывы</h2>
		<div class="reviews__list row">
			<div class="reviews__item col-12 col-lg-6">
				<div class="review-one">
					<div class="review-one__name">Виктор</div>
					<div class="review-one__text">Понравился сервис! Очень быстрое принятие решения, Деньги на карту приходят мгновенно!</div>
				</div>
			</div>
			<div class="reviews__item col-12 col-lg-6">
				<div class="review-one">
					<div class="review-one__name">Тамара Беспалова</div>
					<div class="review-one__text">Спасибо организации за помощь. Обращусь еще.</div>
				</div>
			</div>
			<div class="reviews__item col-12 col-lg-6">
				<div class="review-one">
					<div class="review-one__name">Анастасия</div>
					<div class="review-one__text">Хорошая компания,выручает и лояльны к своим заемщикам)))</div>
				</div>
			</div>
		</div>
	</div>
</div>