<div class="accordion">
	<div class="accordion__item">
		<input type="radio" name="acc" class="accordion__check" id="accItem1">
		<label for="accItem1" class="accordion__header">
			<div class="accordion__title">Какие есть способы оплаты</div>
		</label>
		<div class="accordion__body">
			<p>Погасить онлайн займы вы можете одним из перечисленных способов:
			</p>
			<ol>
				<li>Карта Visa, MasterCard, Maestro, МИР.</li>
				<li>Коммерческий банк.</li>
				<li>Сбербанк Онлайн.</li>
				<li>Электронный кошелек Яндекс Деньги.</li>
				<li>Терминалы и кассы.</li>
				<li>WebMoney.</li>
				<li>Альфа-клик.</li>
				<li>Промсвязьбанк.</li>
			</ol>
			<p>Для того, чтобы провести операцию по полному погашению взятого онлайн займа необходимо войти в личный кабинет, выбрать раздел «Оформить займ», при этом отобразится информация по текущему займу и нажать на клавишу «Оплатить». Для осуществления платежа следует ввести свои личные данные, подтвердить их и ввести данные банковской карты, с которой произойдет списание денежных средств, после чего нажать клавишу «Оплатить». Реквизиты для оплаты в коммерческом банке указаны на сайте в оферте на нашем сайте.</p>
		</div>
	</div>
	<div class="accordion__item">
		<input type="radio" name="acc" class="accordion__check" id="accItem2">
		<label for="accItem2" class="accordion__header">
			<div class="accordion__title">Условия выдачи микрозаймов. Как получить займ?</div>
		</label>
		<div class="accordion__body">
			<p>Мы выдаем онлайн займы на карту или электронный кошелек:</p>
			<ul>
				<li>в сумме от 500 до 29 500 рублей;</li>
				<li>на срок от 6 до 21 дня;</li>
				<li>гражданам РФ в возрасте от 18 до 80 лет. </li>
			</ul>
			<p>Для оформления заявки необходимо предоставить: </p>
			<ul>
				<li>1 документ (паспорт РФ) с постоянным местом регистрации;</li>
				<li>контактную информацию с места работы и одного близкого вам человека;</li>
				<li>обязательно наличие электронной почты, мобильного телефона (с функцией принятия сообщений).</li>
			</ul>
			<p>Для получения и расчета по займу физическому лицу необходима дебетовая или кредитная пластиковая карта Visa, MasterCard, Maestro или МИР. Также можно воспользоваться платежной системой «Золотая корона» или электронным кошельком (Qiwi, Яндекс. Деньги).</p>
		</div>
	</div>
	<div class="accordion__item">
		<input type="radio" name="acc" class="accordion__check" id="accItem3">
		<label for="accItem3" class="accordion__header">
			<div class="accordion__title">Я временно не работаю / потерял работу / учусь. Можно получить у вас онлайн займ?</div>
		</label>
		<div class="accordion__body">
			<p>Мы выдаем микрозаймы всем социальным группам граждан: безработным, студентам и пенсионерам.</p>
		</div>
	</div>
</div>