<div class="news-preview">
	<div class="news-preview__header">
		<div class="news-preview__date">25 октября 2018</div>
		<a href="#" class="news-preview__category">Деньги в долг</a>
	</div>
	<a href="news-one.html" class="news-preview__title">Тестовая новость</a>
	<div class="news-preview__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio labore veniam sit natus tempora, beatae iure debitis temporibus blanditiis totam, laboriosam, quas molestias incidunt vitae ad earum nesciunt maiores. Eveniet?</div>
</div>