<div class="advantages"><div class="advantage-blk" data-scroll="true"><div class="image-advantage"><img src="/assets/img/benefit1.svg" alt="advantage image"><div class="number-advantage">
	01
</div></div><div class="desc-advantage">Мы одобряем 97% заявок</div></div><div class="advantage-blk" data-scroll="true"><div class="image-advantage"><img src="/assets/img/benefit2.svg" alt="advantage image"><div class="number-advantage">
	02
</div></div><div class="desc-advantage">100% онлайн<br>(не нужно выходить из дома)</div></div><div class="advantage-blk" data-scroll="true"><div class="image-advantage"><img src="/assets/img/benefit3.svg" alt="advantage image"><div class="number-advantage">
	03
</div></div><div class="desc-advantage">7 минут на рассмотрение заявки</div></div><div class="advantage-blk" data-scroll="true"><div class="image-advantage"><img src="/assets/img/benefit4.svg" alt="advantage image"><div class="number-advantage">
	04
</div></div><div class="desc-advantage">Без залога и поручителей</div></div><div class="advantage-blk" data-scroll="true"><div class="image-advantage"><img src="/assets/img/benefit5.svg" alt="advantage image"><div class="number-advantage">
	05
</div></div><div class="desc-advantage">Досрочное погашение</div></div></div>


<!-- <div class="benefits">
	<div class="benefits__item">
		<div class="benefits__num">01</div>
		<div class="benefits__icon">
			<img src="/assets/img/benefit1.svg">
		</div>
		<div class="benefits__text">Мы одобряем 97% заявок</div>
	</div>
	<div class="benefits__item">
		<div class="benefits__num">02</div>
		<div class="benefits__icon">
			<img src="/assets/img/benefit2.svg">
		</div>
		<div class="benefits__text">100% онлайн<br> (не нужно выходить из дома)</div>
	</div>
	<div class="benefits__item">
		<div class="benefits__num">03</div>
		<div class="benefits__icon">
			<img src="/assets/img/benefit3.svg">
		</div>
		<div class="benefits__text">7 минут на рассмотрение заявки</div>
	</div>
	<div class="benefits__divider"></div>
	<div class="benefits__item">
		<div class="benefits__num">04</div>
		<div class="benefits__icon">
			<img src="/assets/img/benefit4.svg">
		</div>
		<div class="benefits__text">Без залога и поручителей</div>
	</div>
	<div class="benefits__item">
		<div class="benefits__num">05</div>
		<div class="benefits__icon">
			<img src="/assets/img/benefit5.svg">
		</div>
		<div class="benefits__text">Досрочное погашение</div>
	</div>
</div> -->