<footer class="footer">
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 col-md-3">
				<div class="logo mb-2"></div>
				<div class="desc mb-3">© 2011-2018 OneClickMoney.ru ООО "МИКРОКРЕДИТНАЯ КОМПАНИЯ УНИВЕРСАЛЬНОГО ФИНАНСИРОВАНИЯ"</div>
				<div class="socials">
					<div class="socials__item">
						<a href="#" class="socials__link">
							<svg><use xlink:href="#vk"></use></svg>
						</a>
					</div>
					<div class="socials__item"><a href="#" class="socials__link">
						<svg><use xlink:href="#fb"></use></svg>
					</a></div>
					<div class="socials__item"><a href="#" class="socials__link">
						<svg><use xlink:href="#ok"></use></svg>
					</a></div>
					<div class="socials__item"><a href="#" class="socials__link">
						<svg><use xlink:href="#tw"></use></svg>
					</a></div>
					<div class="socials__item"><a href="#" class="socials__link">
						<svg><use xlink:href="#gp"></use></svg>
					</a></div>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="footer-links">
					<div class="footer-links__title">Условия</div>
					<a href="#" class="footer-links__item">Правила и<br> документы</a>
					<a href="#" class="footer-links__item">Политика<br> конфиденциальности</a>
					<a href="#" class="footer-links__item">Город выдачи</a>
					<a href="#" class="footer-links__item">Карта сайта</a>
					<a href="#" class="footer-links__item">Мобильное<br> приложение</a>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="footer-links">
					<div class="footer-links__title">Компания</div>
					<a href="#" class="footer-links__item">О компании</a>
					<a href="#" class="footer-links__item">Новости</a>
					<a href="#" class="footer-links__item">Общие вопросы</a>
					<a href="#" class="footer-links__item">Контакты</a>
					<a href="#" class="footer-links__item">Вакансии</a>
					<a href="#" class="footer-links__item">Статьи</a>
				</div>
			</div>
			<div class="col-12 col-md-3"></div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-6">
				<div class="copyrights">Уважаемые клиенты, чтобы получить онлайн-заем на нашем сервисе Вам необходим только паспорт и больше никаких документов. Оформление заявки занимает 7 минут, ответ по займу в течение 15 минут. C нашим сервисом легко получить деньги!</div>
			</div>
		</div>
	</div>
</footer>