<header class="header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-md-auto">
				<div class="row">
					<div class="col">
						<div class="stat-info">
							<div class="stat-info__icon">
								<img src="/assets/img/stat1.svg">
							</div>
							<div class="stat-info__content">
								<div class="stat-info__num">10 800 Р</div>
								<div class="stat-info__text">Средний займ за сегодня</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="stat-info">
							<div class="stat-info__icon">
								<img src="/assets/img/stat2.svg">
							</div>
							<div class="stat-info__content">
								<div class="stat-info__num">1 965 000 Р</div>
								<div class="stat-info__text">Сумма займов за сегодня</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="stat-info">
							<div class="stat-info__icon">
								<img src="/assets/img/stat3.svg">
							</div>
							<div class="stat-info__content">
								<div class="stat-info__num">282</div>
								<div class="stat-info__text">Число займов за сегодня</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-auto">
				{{> header-controls }}
			</div>
		</div>
	</div>
</header>