<div class="row align-items-center">
	<div class="col-auto">
		<a href="/registration/first.html" class="header-link">Оформить займ</a>
	</div>
	<div class="col-auto d-xl-none">
		<div class="dropdown">
			<div class="dropdown__button">
				<img src="/assets/img/auth.svg">
			</div>
			<div class="dropdown__body">
				<div class="dropdown__box">
					<a href="" class="stat-info__link">Регистрация</a>
					<a href="/registration/first.html" class="stat-info__link">Вход</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-auto d-xl-none">
		<div class="dropdown dropdown--phone">
			<div class="dropdown__button">
				<img src="/assets/img/callback-head.svg">
			</div>
			<div class="dropdown__body">
				<div class="dropdown__box">
					<div class="contacts">
						<div class="contacts__phone">8 800 700 06 07</div>
						<div class="contacts__text">Круглосуточно. <a href="#">Перезвоните мне</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-auto d-none d-xl-block">
		<div class="stat-info">
			<div class="stat-info__icon">
				<img src="/assets/img/auth.svg">
			</div>
			<div class="stat-info__content">
				<a href="#" class="stat-info__link">Регистрация</a>
				<a href="/first.html" class="stat-info__link">Вход</a>
			</div>
		</div>
	</div>
	<div class="col-auto d-none d-xl-block">
		<div class="stat-info">
			<div class="stat-info__icon">
				<img src="/assets/img/callback-head.svg">
			</div>
			<div class="stat-info__content">
				<div class="contacts">
					<div class="contacts__phone">8 800 700 06 07</div>
					<div class="contacts__text">Круглосуточно. <a href="#">Перезвоните мне</a></div>
				</div>
			</div>
		</div>
		
	</div>
</div>