<header class="header">
	<div class="header__inner">
		<div class="row justify-content-between align-items-center">
			<div class="col-auto">
				<div class="row align-items-center">
					<div class="col-12 col-md-auto">
						<a href="/" class="logo">
							<div class="logo__img">
								<img src="/assets/img/logo-sclled.svg" alt="Logo">
							</div>
							<div class="logo__desc">выдача онлайн займов</div>
						</a>
					</div>
					<div class="col-12 col-md-auto">
						{{> header-menu }}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-auto">
				{{> header-controls }}
			</div>
		</div>
	</div>
</header>