<ul class="menu">
	<li class="menu__item">
		<a href="/about.html" class="menu__link">О компании</a>
		<ul>
			<li><a href="/about.html">О нас</a></li>
			<li><a href="/news.html">Новости</a></li>
			<li><a href="/faq.html">Общие вопросы</a></li>
			<li><a href="/reviews.html">Отзывы</a></li>
		</ul>
	</li>
	<li class="menu__item">
		<a href="/how-it-works.html" class="menu__link">Как это работает</a>
		<ul>
			<li><a href="/how-it-works.html">Схема работы</a></li>
			<li><a href="/how-to-get-loan.html">Как взять займ</a></li>
			<li><a href="/how-to-repay-loan.html">Как погасить займ</a></li>
			<li><a href="/auto-payment.html">Услуга "Автоплатеж"</a></li>
		</ul>
	</li>
	<li class="menu__item">
		<a href="/contacts.html" class="menu__link">Контакты</a>
	</li>
	<li class="menu__item">
		<a href="/vacancies.html" class="menu__link">Вакансии</a>
	</li>
</ul>