<ul class="payment-list">
	<li class="payment-list__item">
		<a href="/how-to-get-loan/visa.html" class="payment-list__link">
			<img class="payment-list__img" src="/assets/img/payments/visa-pay.png" alt="">
		</a>
	</li>
	<li class="payment-list__item">
		<a href="/how-to-get-loan/mastercard.html" class="payment-list__link"><img class="payment-list__img" src="/assets/img/payments/mastercard.png" alt=""></a>
	</li>
	<li class="payment-list__item">
		<a href="/how-to-get-loan/maestro.html" class="payment-list__link"><img class="payment-list__img" src="/assets/img/payments/maestro-pay.png" alt=""></a>
	</li>
	<li class="payment-list__item">
		<a href="/how-to-get-loan/mir.html" class="payment-list__link"><img class="payment-list__img" src="/assets/img/payments/mir-pay.png" alt=""></a>
	</li>
	<li class="payment-list__item">
		<a href="/how-to-get-loan/korona.html" class="payment-list__link"><img class="payment-list__img" src="/assets/img/payments/crown-pay.jpg" alt=""></a>
	</li>
	<li class="payment-list__item">
		<a href="/how-to-get-loan/qiwi.html" class="payment-list__link"><img class="payment-list__img" src="" alt="">qiwi</a>
	</li>
</ul>