<div class="steps__header">
	<div class="step steps__item active">
		<div class="step__icon">
			<img src="/assets/img/step1.svg">
		</div>
		<div class="step__content">
			<div class="step__title">Шаг 1</div>
			<div class="step__text">Основная информация</div>
		</div>
	</div>
	<div class="step steps__item">
		<div class="step__icon">
			<img src="/assets/img/step2.svg">
		</div>
		<div class="step__content">
			<div class="step__title">Шаг 2</div>
			<div class="step__text">Паспортные данные</div>
		</div>
	</div>
	<div class="step steps__item">
		<div class="step__icon">
			<img src="/assets/img/step3.svg">
		</div>
		<div class="step__content">
			<div class="step__title">Шаг 3</div>
			<div class="step__text">Контактная информация</div>
		</div>
	</div>
	<div class="step steps__item">
		<div class="step__icon">
			<img src="/assets/img/step4.svg">
		</div>
		<div class="step__content">
			<div class="step__title">Шаг 4</div>
			<div class="step__text">Способ получения</div>
		</div>
	</div>
</div>