<svg class="svg-container">
	<symbol id="fb" viewBox="0 0 192.3 412">
		<path d="M63.37,21.23C79.44,5.93,102.29.76,123.85.12,146.65-.09,169.44,0,192.23,0q.13,36.08,0,72.16c-14.73,0-29.48,0-44.21,0-9.34-.58-18.94,6.5-20.64,15.76-.22,16.09-.08,32.2-.07,48.29,21.61.09,43.22,0,64.83.05-1.58,23.28-4.47,46.46-7.86,69.54-19.09.18-38.19,0-57.27.1-.17,68.67.09,137.33-.13,206-28.35.12-56.72-.05-85.07.08-.54-68.67,0-137.38-.29-206.07-13.83-.14-27.67.1-41.5-.12.05-23.09,0-46.17,0-69.25,13.82-.17,27.65,0,41.48-.1.42-22.44-.42-44.91.44-67.33C43.33,51.38,50.09,33.49,63.37,21.23Z"/>
	</symbol>
	<symbol id="vk" xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10">
		<path d="M13.504 4.904c.5-.68 1.012-1.356 1.5-2.044.304-.428.588-.876.708-1.404.052-.224-.036-.4-.252-.472a1.357 1.357 0 0 0-.424-.056c-.8-.004-1.596 0-2.396 0-.424 0-.544.088-.7.48-.304.764-.656 1.508-1.128 2.184-.26.372-.536.74-.848 1.064-.248.256-.488.168-.568-.188a3.448 3.448 0 0 1-.072-.784c.008-.664.04-1.332.056-1.996a2.247 2.247 0 0 0-.036-.464C9.292.928 9.132.712 8.828.648A3.514 3.514 0 0 0 8.12.576c-.58-.004-1.164-.032-1.744 0-.36.02-.688.068-.924.372-.112.144-.096.292.08.324.576.104.712.448.736.836.032.608.048 1.008.036 1.62a3.724 3.724 0 0 1-.156.908c-.076.212-.252.256-.436.128a1.599 1.599 0 0 1-.344-.312c-.72-.9-1.268-1.908-1.7-2.972-.152-.376-.396-.528-.756-.544C2.876.932.616.888.496.936c-.196.076-.252.296-.192.528.02.068.704 1.528.736 1.596.676 1.356 1.416 2.668 2.356 3.868.592.752 1.272 1.4 2.124 1.856 1.008.54 2.088.664 3.204.604.388-.02.604-.24.632-.584.004-.064.104-.84.22-1.132.136-.344.424-.392.712-.168.124.096.24.2.344.316.356.372.692.764 1.064 1.124.332.32.748.484 1.22.488.092 0 1.848.052 2.208 0 .572-.08.76-.536.456-1.02a7.76 7.76 0 0 0-.832-1.08c-.42-.46-.884-.88-1.32-1.328-.272-.28-.284-.472-.1-.808.056-.112.112-.204.176-.292z"/>
	</symbol>
	<symbol id="tw" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
		<path d="M12.232 2.384l.004-.004c.072-.048 1.084-.736 1.22-1.556 0 0-.568.304-1.36.568a8.405 8.405 0 0 1-.412.128 2.805 2.805 0 0 0-4.78 2.552c-.216-.008-3.512-.192-5.756-2.908 0 0-1.34 1.828.8 3.712 0 0-.652-.024-1.212-.36 0 0-.204 2.216 2.216 2.784 0 0-.476.18-1.236.052 0 0 .424 1.792 2.576 1.956 0 0-1.7 1.536-4.116 1.176a7.944 7.944 0 0 0 4.272 1.236 7.988 7.988 0 0 0 7.98-8.316c.16-.124 1.148-.916 1.388-1.424 0 0-.8.332-1.588.412l.004-.008z"/>
	</symbol>

	<symbol id="ok" x="0px" y="0px"
	viewBox="0 0 595.3 841.9" enable-background="new 0 0 595.3 841.9" xml:space="preserve">
	<path d="M537.4,509.9c17-17.4,17.2-39.4,3.3-61.9c-12.1-19.7-33.1-28-55.6-22.2c-11.6,3-21.6,8.8-30.9,16
	c-94.3,63.5-223.6,61.7-317.5-2.9c-4.7-3.1-9.4-6.2-14.5-8.5c-26.1-12.3-51.2-6.6-66.1,14.8c-17.5,25.1-15.3,49.3,6.8,70.5
	c5.7,5.4,12.2,10.2,18.4,15.1c50.5,39.4,109.4,55.6,174.8,62.4c-4.6,4.9-7.6,8.3-10.8,11.6c-47.9,48-95.8,96.2-143.9,144.1
	c-9.9,9.9-17.1,21-17.8,35.4c-1,21.4,12.3,42.7,33.1,52.8c19.6,9.5,39.8,6.5,56.7-10.2c37.6-37.1,75.1-74.5,111.9-112.4
	c9.2-9.4,14.2-11.6,24.7-0.6c35.9,37.6,73.3,73.8,109.9,110.6c9.5,9.6,20.3,16.5,34.2,17.4c21.8,1.5,44-12.5,54-33.7
	c9.1-19.4,5.6-40-10.9-56.7C448.8,702.6,400,654,351.5,605.3c-3.4-3.4-5.9-6.3-11.3-12.2c35.8-4.2,71.9-10.7,104.8-23.5
	C479.9,556.1,511.3,536.7,537.4,509.9z"/>
	<path d="M295.9,426C413.7,426.5,510,332,510.5,215.5c0.6-119.3-94.1-215.8-212-216.1C180.7-0.9,85,94.2,84.4,212.3
	C83.6,329,179.3,425.7,295.9,426z M297.5,108.4c57.7,0,104.4,46.7,104.4,104.4s-46.7,104.4-104.4,104.4s-104.4-46.7-104.4-104.4
	S239.8,108.4,297.5,108.4z"/>
</symbol>


</svg>