.input-radio {
	cursor: pointer;
	margin: 0;
	input[type="checkbox"], input[type="radio"] {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	&__text {
		display: block;
		position: relative;
		background: url('/assets/img/check1.svg') left center no-repeat;
		background-size: 27px;
		line-height: 27px;
		padding-left: 30px;
		&:before {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $black;
			position: absolute;
			top: 50%;
			left: 8px;
			transform: translateY(-50%);
			opacity: 0;
			transition: opacity .2s linear;
		}
		&:hover {
			&:before {
				opacity: .5;
			}
		}
	}
	:checked + &__text {
		&:before {
			opacity: 1;
		}
	}
}