.input-file {
	cursor: pointer;
	display: flex;
	align-items: center;
	input[type="file"] {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	&__filename {
		flex: 1 1 auto;
		border-bottom: 1px solid $black;
		line-height: 48px;
		height: 48px;
		margin-right: 2rem;
		@include text-lg;
		font-weight: bold;
	}
	&__button {
		flex: 0 0 127px;
		width: 127px;
		height: 48px;
		font-size: 1rem !important;
		padding: 0 !important;
	}
}