.input-checkbox {
	cursor: pointer;
	margin: 0;
	display: flex;
	align-items: center;
	input[type="checkbox"], input[type="radio"] {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
	&__text {
		position: relative;
		background: url('/assets/img/check2.svg') left top no-repeat;
		background-size: 30px;
		padding-left: 35px;
		line-height: 30px;
		&:before {
			content: "";
			width: 15px;
			height: 25px;
			border: 3px solid $black;
			border-top: none;
			border-left: none;
			transform: rotate(45deg);
			position: absolute;
			top: -6px;
			left: 6px;
			opacity: 0;
			transition: opacity .2s linear;
		}
		&:hover {
			&:before {
				opacity: .5;
			}
		}
	}
	:checked + &__text {
		&:before {
			opacity: 1;
		}
	}
}