.input {
	display: block;
	appearance: none;
	outline: none;
	color: $black;
	background: transparent;
	width: 100%;
	height: 48px;
	border: none;
	border-bottom: 1px solid $black;
	@include text-lg;
	font-weight: bold;
	@include input-placeholder {
		color: $black;
	}
	&:focus {
		@include input-placeholder {
			color: #ccc;
		}
	}
}