.textarea {
	&__label {
		margin-bottom: 1rem;
		@include text-lg;
		font-weight: bold;
	}
	&__field {
		background: transparent;
		border-color: $black;
		display: block;
		width: 100%;
		resize: none;
		height: 200px;
		padding: 1rem;
		@include text-lg;
		font-weight: bold;
	}
}