<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ meta-descirption }}" />
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/fav.png">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
  {{> svg }}
  <div class="page-wrapper">
    <div class="page-wrapper__body">
      {{> header }}
      {{> body }}
    </div>
    <div class="page-wrapper__footer">
      {{> footer }}
    </div>
  </div>
  {{> modals}}
  <script src="/assets/js/common.js"></script>

</body>

</html>