<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button active">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<h2 class="text-center mb-7">Оплата мобильным банком Сбербанка</h2>
	<div class="stair">
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft"></div>
			<div class="stair__number wow fadeIn">01</div>
			<div class="stair__text wow fadeInRight">Если у Вас подключен мобильный банк Сбербанка, но в данный момент Вы не можете зайти в личный кабинет или хотите ускорить процедуру возврата долга по займу.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/11510727454.png" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">02</div>
			<div class="stair__text wow fadeInRight">Обратитесь на бесплатную круглосуточную горячую линию 8&nbsp;(800)&nbsp;700&nbsp;06&nbsp;07, Вас переведут на техническую поддержку.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft"></div>
			<div class="stair__number wow fadeIn">03</div>
			<div class="stair__text wow fadeInRight">Техническая поддержка получит подтверждение, что Вы являетесь нашим клиентом.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/21510727715.png" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">04</div>
			<div class="stair__text wow fadeInRight">На номер, который указан в нашей базе, будет доставлено смс — сообщение с номера 900, с подтверждением и указанием суммы долга, которая будет погашена и проценты по основному долгу.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/31510727850.png" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">05</div>
			<div class="stair__text wow fadeInRight">Подтвердить ответным сообщением на номер 900 и Ваш долг будет оплачен.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
			</div>
			<div class="stair__number wow fadeIn">06</div>
			<div class="stair__text wow fadeInRight">
				1. Сумма долга не может превышать десять тысяч рублей.
				<div class="small">2. Вам необходимо подтвердить ответным сообщением в течение часа, иначе всю процедуру необходимо пройти заново.</div>
			</div>
		</div>
	</div>
</div>