<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button active">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<h2 class="text-center mb-7">Как погасить займ в OneClickMoney с помощью терминала</h2>
	<div class="stair">
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/11513749931.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">01</div>
			<div class="stair__text wow fadeInRight">
				Зайдите в Ваш личный кабинет.
				<div class="small">Если вы забыли пароль,то воспользуйтесь сервисом по восстановлению пароля по электронной почте,либо по телефонному номеру. Если восстановить пароль не удаётся — обратитесь на бесплатную круглосуточную горячую линию <strong>8(800) 700 06 07</strong>.</div>
			</div>
		</div>
		<div class="stair__item bottom">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a21485888780.jpg" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">02</div>
			<div class="stair__text wow fadeInRight">
				В личном кабинете Вы видите актуальную информацию о Вашем займе.
				<div class="small">Обратите внимание на поле «Долг», в нём указана текущая сумма,необходимая для полного погашения займа.</div>
			</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a31485888813.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">03</div>
			<div class="stair__text wow fadeInRight">Нажмите на кнопку «Оплатить займ».</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a41485888831.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">04</div>
			<div class="stair__text wow fadeInRight">Выберите способ возврата Платежные терминалы.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a51485888873.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">05</div>
			<div class="stair__text wow fadeInRight">Надо оплатить счет в течение 15 минут после его выставления. Для того чтобы продолжить, нажмите «Да»</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/51513685762.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">06</div>
			<div class="stair__text wow fadeInRight">Введите номер Вашего телефона,чтобы получить код платежа</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/61513685762.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">07</div>
			<div class="stair__text wow fadeInRight">
				Оплатите займ в ближайшем терминале.
				<div class="small">Найдите в терминале Яндекс Деньги в разделе"Электронные деньги" или"Платежные системы". В поле номер счета введите код платежа(Вы уже получили его в смс). Вставьте в терминал наличные и нажмите"Оплатить". Обязательно заберите чек.</div>
			</div>
		</div>
	</div>
</div>