<div class="container">
	<h1>Как это работает</h1>
	<div class="tabs mb-6">
		<a href="/how-it-works.html" class="tabs__button">Схема работы</a>
		<a href="/how-to-get-loan.html" class="tabs__button">Как взять займ</a>
		<a href="/how-to-repay-loan.html" class="tabs__button active">Как погасить займ</a>
		<a href="/auto-payment.html" class="tabs__button">Услуга "Автоплатеж"</a>
	</div>
	<h2 class="text-center mb-7">Как погасить займ в OneClickMoney с помощью Webmoney</h2>
	<div class="stair">
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/11513749931.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">01</div>
			<div class="stair__text wow fadeInRight">
				Зайдите в Ваш личный кабинет.
				<div class="small">Если вы забыли пароль,то воспользуйтесь сервисом по восстановлению пароля по электронной почте,либо по телефонному номеру. Если восстановить пароль не удаётся — обратитесь на бесплатную круглосуточную горячую линию <strong>8(800) 700 06 07</strong>.</div>
			</div>
		</div>
		<div class="stair__item bottom">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a21485888780.jpg" alt="howiw pay image">
			</div>
			<div class="stair__number wow fadeIn">02</div>
			<div class="stair__text wow fadeInRight">
				В личном кабинете Вы видите актуальную информацию о Вашем займе.
				<div class="small">Обратите внимание на поле «Долг», в нём указана текущая сумма,необходимая для полного погашения займа.</div>
			</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a31485888813.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">03</div>
			<div class="stair__text wow fadeInRight">Нажмите на кнопку «Оплатить займ».</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a41485888831.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">04</div>
			<div class="stair__text wow fadeInRight">Выберите способ возврата Платежные терминалы.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/a51485888873.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">05</div>
			<div class="stair__text wow fadeInRight">Надо оплатить счет в течение 15 минут после его выставления. Для того чтобы продолжить, нажмите «Да»</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/101513686122.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">06</div>
			<div class="stair__text wow fadeInRight">Проверьте Ваши данные,нажмите кнопку «Продолжить»</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/111513686122.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">07</div>
			<div class="stair__text wow fadeInRight">Зайдите в Ваш личный кабинет WebMoney.</div>
		</div>
		<div class="stair__item">
			<div class="stair__image wow fadeInLeft">
				<img src="/assets/img/121513686122.jpg" alt="howiw image">
			</div>
			<div class="stair__number wow fadeIn">08</div>
			<div class="stair__text wow fadeInRight">Подтвердите Ваш платеж и оплатите его.</div>
		</div>
	</div>
</div>